<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"  lang="ES-es">

<head  th:replace="~{layouts/layout :: headGestorTablas}">
    <link rel="icon" th:href="@{/img/oma.png}">
    <title>HWMC</title>
</head>

<body class="body">


        <!------------------------------------------------------------------------------------------->
        <nav th:replace="~{layouts/layout :: nav}"></nav>
        <!------------------------------------------------------------------------------------------->



            <div class="col-md-4">
                <div class="position-static" style="top: 2rem;">
                    <div class="p-4 mb-3 rounded bg-dark cards just">
                        <h4 class="fst-italic">Acerca de <strong class="d-inline-block mb-2 text-primary">Home Watter Mettering Company</strong></h4>
                        <p class="mb-0">Esta empresa esta desarrollada con el fin de tener una base de datos
                            de todas las personas que están afiliadas a esta, en cuanto al registro y control del
                            agua que llega a esta, teniendo así una base de datos y un registro y control del agua que llega.</p>
                    </div>
                    </div>
                </div>

       <footer>
        <div class="d-flex justify-content-between py-4 my-4 border-top">
            <p>&copy; Home Watter Mettering Company 2023 . Todos los derechos reservados.</p>
        </div>
    </footer>

</body>



</html>